{{extend 'layout.html'}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Movie Suggestion">
    <meta name="keywords" content="movies suggestion finder">
    <title>Discovie</title>

</head>

<body>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-10 col-sm-9">
            <div class="jumbotron">
                <div class="imghome">
                    <a href="{{=URL('index')}}">
                        <img src="../../static/images/dislogo.png" alt="Discovie Logo" style="max-width: 100%">
                    </a>
                </div>
            </div>
            <div class="container-list">
                <div id="youtube-trailer" align="middle">
                    <!-- TO ADD A MOVIE go to URL/discovie/createyt -->
                    <h4><u>Now Playing in Theaters Trailers:</u> {{=rant.name}}</h4>
                    <iframe id="ytplayer" type="text/html" width=100% height="480"
                            src="https://www.youtube.com/embed/{{=rant.youtube_id}}?autoplay=1&"
                            frameborder="0">
                    </iframe>
                </div>
            </div><!--/CL-->
            <div class="container-list">
                <div class="row">
                {{for item in ranm1:}}
                    <div class="col-xs-6 col-lg-4">
                        <img src={{=item.poster_url}} alt="singstreet" style="max-width:100%;height:auto;"
                             srcset={{=item.poster_url}} 300w, {{=item.poster_url}} 547w"
                        sizes="(max-width: 547px) 100vw, 547px">
                        <h2> {{=item.movie_title}} ({{=item.title_year}}) </h2>
                        <div class="synopsis">
                            <p>{{=item.synopsis}} </p>
                            <p class="read-more"><a href={{=item.movie_imdb_link}} class="button">Check out the movie
                                on IMDb!</a></p>
                        </div>
                    </div><!--/span-->
                {{pass}}
                </div><!--/row-->
                <div>
                    <p>

                    </p>
                </div>
                <div class="row">
                {{for item in ranm2:}}
                    <div class="col-xs-6 col-lg-4">
                        <img src={{=item.poster_url}} alt="singstreet" style="max-width:100%;height:auto;"
                             srcset={{=item.poster_url}} 300w, {{=item.poster_url}} 547w"
                        sizes="(max-width: 547px) 100vw, 547px">
                        <h2> {{=item.movie_title}} ({{=item.title_year}}) </h2>
                        <div class="synopsis">
                            <p>{{=item.synopsis}} </p>
                            <p class="read-more"><a href="#" class="button">Read More</a></p>
                        </div>
                        <a class="btn btn-secondary" href={{=item.movie_imdb_link}} role="button">Check out the
                            movie on
                            IMDb!&raquo;</a>
                    </div><!--/span-->
                {{pass}}
                </div><!--/row-->
            </div><!--/span-->
        </div><!--/span-->

        <!-- SIDE BAR -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <!-- Login -->
            <div class="container-small">
                <div class="login" text-right>
                    <a href="{{=URL('default', 'userprefs')}}" class="btn btn-success">
                        <i class="fa fa-map-pin" aria-hidden="true"></i> Preferences</a>
                {{if auth.user_id:}}
                    <a href="{{=URL('default', 'user', args=['logout'])}}" class="btn btn-danger">
                        <i class="fa fa-times" aria-hidden="true"></i> Logout</a>
                {{else:}}
                    <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                {{pass}}
                </div>
            </div>
            <!-- SEARCH BOX CODE BEGINS -->
            <div class="container-search">
                <div class="input-group" id="adv-search">
                    <input type="text" class="form-control" placeholder="Type a movie, actor, or genre you like"/>
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="filter">Filter by</label>
                                            <select class="form-control">
                                                <option value="0" selected>All Movies</option>
                                                <option value="1">Featured</option>
                                                <option value="2">Most popular</option>
                                                <option value="3">Top rated</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="contain">Actor</label>
                                            <input class="form-control" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="contain">Keywords</label>
                                            <input class="form-control" type="text"/>
                                        </div>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"
                                                                                         aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"
                                                                                aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Search box code ends! -->
            <div class="container-sidebar">
                <div class="list-group">
                    <h5> Today's Recommended Movies</h5>
                    {{for item in ranm3:}}
                        <a href={{=item.movie_imdb_link}} class="list-group-item">
                            <img height=50 width=50 src={{=item.poster_url}}>
                        {{=item.movie_title}} ({{=item.title_year}})</a>
                    {{pass}}
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <div class="container-sidebar">
            <p>&copy; CMPS 183: Discovie</p>
            <p>All images, names, and trademarks are copyright and the property of their respective owners.</p>
        </div>
    </footer>

</div><!--/.container-->
</body>
</html>
