{{extend 'layout.html'}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Movie Suggestion">
    <meta name="keywords" content="movies suggestion finder">
    <title>Discovie</title>

</head>

<body>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-10 col-sm-9">
            <div class="jumbotron">
                <div class="imghome">
                    <a href="{{=URL('index')}}">
                        <img src="../static/images/dislogo.png" alt="Discovie Logo" style="max-width: 100%">
                    </a>
                </div>
            </div>
            <div class="container-list">
                <div id="youtube-trailer" align="middle">
                    <!-- TO ADD A MOVIE go to URL/discovie/createyt -->
                    <h4><u> Featured Movie Trailers:</u> {{=rant.movie_title}}</h4>
                    <iframe id="ytplayer" type="text/html" width=100% height="480"
                            src="https://www.youtube.com/embed/{{=rant.youtube_id}}?autoplay=1&"
                            frameborder="0">
                    </iframe>
                </div>
            </div><!--/CL-->
            <div class="container-list">
                <div class="row">
                {{for item in ranm1:}}
                    <div class="col-xs-6 col-lg-4">
                        <img style="max-width:100%;height:auto;" src={{=item.movie_poster_link}}>
                        <h2> {{=item.movie_title}} ({{=item.title_year}}) </h2>
                        <div class="synopsis">
                            <p>{{=item.synopsis}} </p>
                            <p class="read-more"><a href={{=item.movie_imdb_link}} class="button">Check out the movie
                                on IMDb!</a></p>
                        </div>
                    </div><!--/span-->
                {{pass}}
                </div><!--/row-->
                <div>
                    <p>

                    </p>
                </div>
                <div class="row">
                {{for item in ranm2:}}
                    <div class="col-xs-6 col-lg-4">
                        <img style="max-width:100%;height:auto;" src={{=item.movie_poster_link}}>
                        <h2> {{=item.movie_title}} ({{=item.title_year}}) </h2>
                        <div class="synopsis">
                            <p>{{=item.synopsis}} </p>
                            <p class="read-more"><a href={{=item.movie_imdb_link}} class="button">Check out the movie
                                on IMDb!</a></p>
                        </div>
                    </div><!--/span-->
                {{pass}}
                </div><!--/row-->
            </div><!--/span-->
        </div><!--/span-->

        <!-- SIDE BAR -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <!-- Login -->
            <div class="container-small">
                <div class="login" text-right>
                    <a href="{{=URL('default', 'preferences')}}" class="btn btn-success">
                        <i class="fa fa-map-pin" aria-hidden="true"></i> Preferences</a>
                {{if auth.user_id:}}
                    <a href="{{=URL('default', 'user', args=['logout'])}}" class="btn btn-danger">
                        <i class="fa fa-times" aria-hidden="true"></i> Logout</a>
                {{else:}}
                    <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                {{pass}}
                </div>
            </div>

            <!-- SEARCH BOX CODE BEGINS -->
            <div class="container-list">
                <div class="input-group stylish-input-group">
                    <div class="search_div">
                        <form id="search" action="{{=URL('discovie','default', 'post')}}" method="get">
                            <input name="key_terms" type="search" placeholder="Search...">
                            <button class="btn"><i class="fa fa-search fa-sm"></i></button>
                        </form>

                    </div>
                </div>
            </div>

            <!-- Search box code ends! -->
            <div class="container-sidebar">
                <h4> Today's Recommended Movies</h4>
            {{for item in ranm3:}}
                <a class="list-group-item" href={{=item.movie_imdb_link}}>
                    <img height=50 width=50 src={{=item.movie_poster_link}}>
                {{=item.movie_title}}</a>
            {{pass}}
            </div>


            <div class="container-sidebar">
                <div class="list-group">
                    <h4> Sort movies by genre </h4>
                {{for genre in genres:}}
                    <a href=default/genres/{{=genre}}><big> {{=genre}}</big></a><br/>
                {{pass}}
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <div class="container-list">
            <p>&copy; CMPS 183: Discovie</p>
            <p>All images, names, and trademarks are copyright and the property of their respective owners.</p>
        </div>
    </footer>

</div><!--/.container-->
</body>
</html>
