{{extend 'layout.html'}}

<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://tester3.yolasite.com/resources/javascript/jtruncate.js"></script>
    <script type="text/javascript">// <![CDATA[
    // Settings for script
    $(document).ready(function () {
        $('.text').jTruncate({
            length: 400, /* The number of characters to display before truncating. */

            minTrail: 0, /* The minimum number of "extra" characters required to truncate. This option allows you to prevent truncation of a section of text that is only a few characters longer than the specified length. */

            moreText: "Read More", // The text to use for the "more" link.
            lessText: "Read Less", // The text to use for the "less" link.
            ellipsisText: "...", // The text to append to the truncated portion.
        });
    });
    // ]]></script>

</head>
<body>

<div class="btn">
    <form action="http://discovie.pythonanywhere.com/">
        <input type="submit" value="Back to Home"/>
    </form>
</div>

<div class="row row-offcanvas row-offcanvas-right">
{{for item in rows:}}
    <div class="container-list">
        <div class="row" id="movies-containers">
            <div>
                <h3> {{=item.movie_title}} ({{=item.content_rating}})</h3>
                <a href={{=URL('discovie', 'default', 'page', args=[item.movie_id])}}>{{=item.movie_title}}</a><br/><br/>
                <p><b>Directed By: </b>{{=item.director_name}}
                    <b>Movie's budget: </b>{{=item.budget}}
                    <b>IMDB Score: </b>{{=item.imdb_score}}</p>
                <p>
                    <b>Cast: </b> {{=item.actor_1_name}} {{=item.actor_2_name}} {{=item.actor_3_name}}
                </p>
                <div style="display:inline-block">
                    <img style="width: 140px;height: 200px;float:left" src={{=item.movie_poster_link}}>
                    <div class="movies-text-inline" style="padding-left: 160px">
                        <div class="text">
                            <p>{{=item.synopsis}}</p>
                        </div>
                    </div> <!--movies text inline-->
                </div> <!--inline-->
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/span-->
{{pass}}
</div>
</body>
</html>
