{{extend 'layout.html'}}

<!DOCTYPE html>
<html lang="en">
<head>

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_info_url = "{{=URL('ratings', 'get_info')}}";
    var vote_url = "{{= URL('ratings', 'vote', user_signature=True) if auth.user_id else ''}}";
    var is_logged_in = "{{='true' if auth.user_id else 'false'}}";
</script>
</head>


<div class="main_content">
    <div class="user-preference-top">
        <!--To get back home -->
        <a href="{{=URL('index')}}">
            <img src="../static/images/dislogo.png" alt="Discovie Logo">
        </a>
        <!-- Login -->
        <div class="user-pref-login">
            <a href="{{=URL('default', 'index')}}" class="btn btn-success">
                <i class="fa fa-map-pin" aria-hidden="true"></i> Home</a>
        {{if auth.user_id:}}
            <a href="{{=URL('default', 'user', args=['logout'])}}" class="btn btn-danger">
                <i class="fa fa-times" aria-hidden="true"></i> Logout</a>
        {{else:}}
            <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
        {{pass}}
        </div>
    </div>
    </br></br>

    <div>
        <h1 class="main_title text-center">User Preferences</h1>
        <p class="explanation text-center">This page will help you create a movie preference!</p>
    </div>
</div>

<div class="container" id="catalog">
    <div id="movies_catalog">
    {{for mv in rows:}}
        <div class="col-xs-3" style=" width: 185px; height: 278px;">
            <a href="{{=mv.movie_imdb_link}}"><img src="{{=mv.movie_poster_link}}" width="185" height="278">{{=mv.movie_title}}
            </a>
            <div>
                <span v-on:mouseout="mouse_out(img._idx)">
                    <span v-on:mouseover="mouse_over(img._idx, idx)"
                          v-on:click="set_stars(img._idx, idx)"
                          v-for="idx in star_indices">
                        <i v-if="idx <= img.num_stars_display" class="fa fa-star"></i>
                        <i v-if="idx > img.num_stars_display" class="fa fa-star-o"></i>
                    </span>
                    <i v-if="img._pending" class="fa fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
    {{pass}}
    </div>
</div>

<br/>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
